@mixin cuadro-producto ($fondo, $ancho:200px){
    background-color: $fondo;
    width: $ancho;
    height: 150px;
    margin: 10px;
    padding: 1px;
    color: red;
    display: inline-block;
}
.cuadro-producto-1{
    @include cuadro-producto(#111,200px);
}
.cuadro-producto-2{
    @include cuadro-producto(#333);
}
.cuadro-producto-3{
    @include cuadro-producto(#444, 200px);
}